<p>Name: <%= @filmroll.name %></p>
<section><%= @filmroll.shooting_notes %></section>
<section><%= @filmroll.development_notes %></section>
<%= link_to "All Filmrolls", filmrolls_path %> | <%= link_to "Edit", edit_filmroll_path(@filmroll) %> | 
<%= link_to "Delete", filmroll_path(@filmroll), method: :delete, data: { confirm: "Are you sure?" } %>

